* {
	font-family: 'Zilla Slab', serif;
}

header {
	text-align: center;
	margin-top: .7em;
}

header h1 {
	font-size: 30px;
}

.container {
	max-width: 100%;
}

.search-bar {
	padding: .7em;
	text-align: center;
}

.search-bar input {
	width: 100%;
}

.video-detail .details {
	margin: .5em 0;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.details-title {
	font-size: 25px;
	margin: .5em;
}

.details-description {
	font-family: 'Open Sans', sans-serif;
	margin: .5em 1em;
	line-height: 1.6em;
}

.list-group-item {
	cursor: pointer;
}

.list-group-item:hover {
	background-color: #eee;
}